body {
	font-family: 'Source Sans Pro', sans-serif;
}
header {
	min-height: 500px;
	color: #ffffff;
	text-align: center;
}
header h3 {
	margin: 0;
	padding: 1.46rem 0 1.168rem 0;
	font-weight: 300;
}
header .btn-sign-up {
	margin: 20px;
	max-width: 250px;
	text-transform: uppercase;
}
header p {
	max-width: 550px;
	line-height: 2em;
	font-size: 1.3em;
	margin: auto;
}
header img {
	height: 300px;
	margin: 0 5%;
}
nav {
	background: #0000FF;
	box-shadow: none;
}
nav .btn-sign-up {
	margin: 1.5em !important;
	text-transform: uppercase;
}
footer {
	min-height: 400px;
	color: #ffffff;
}
footer a, p {
	color: #ffffff;
	line-height: 2em;
}
.btn-sign-up {
    color: #000026;
    border-radius: 25px;
    padding: 12px 25px;
    line-height: 1em;
}
.btn-sign-up:hover {
    color: #ffffff;   
}
nav .brand-logo {
	margin: .5em;
	line-height: 1.5em;
}
.how-it-works {
	min-height: 400px;
}
.how-it-works p{
	color: #000000;
}
.how-it-works hr {
	width: 100px;
}
.contact-us {
	min-height: 400px;
	color: #ffffff;
	margin-bottom: 0px;
}
.contact-us-tile {
	margin: 2em;
}
.contact-us-tile span {
	text-decoration: underline;
}
.how-it-works h3,p{
	text-align: center;
}
.green {
	background: #00E8AA !important;
}
.blue {
	background: #0000FF !important;
	color: #ffffff;
}
.black {
	background: #000026 !important;
	color: #ffffff;
}
.card-panel {
	height: 180px;
	margin-top: 70px; 
}
input, textarea {
	background: #ffffff !important;
	color: #000000;
}
.btn-send {
	border: none;
	letter-spacing: .5px;
	height: 36px;
    line-height: 36px;
    outline: 0;
    padding: 0 2rem;
    text-transform: uppercase;
    vertical-align: middle;
}
#first-name {
	border-right: 1px solid #E6E6E6;
}
#comments{
	padding: 10px 10px;
	height: 100px;
	margin-bottom: 0px;
}
#jobseeker-sign-up {
	margin-top: 30px;
}
#employer-sign-up {
	margin-top: 30px;
}
#send-icon {
	padding: 5px 0px;
}
.terms-conditions-row {
    margin-bottom: 0px;
}